*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  /* --color-primary: #2f80ed; */
  --color-primary: #f1f1f1;
  --color-secondary: #6b7280;
  /* --color-accent: #34d399; */
  --color-accent: #344ed3;

  --font-heading: "Protest Riot", sans-serif;
  --font-body: "Poppins", sans-serif;
}
html {
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-block: 5rem; /* 10rem */
  scroll-snap-type: y proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-destination: 100vh;
  scroll-snap-coordinate: center;
  scroll-snap-stop: always;
}
body {
  /* background-color: #f0f0f0;
        color: #222; */
  background-color: var(--color-primary);
  /* background-color: rgb(38, 74, 136); */
  /* background-image: linear-gradient(
    to bottom,
    rgba(82, 118, 181, 0.768),
    rgba(28, 59, 111, 0.942)
  ); */
  background-blend-mode: screen;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #f0f0f0; */
  color: #222;
  /* color: #fff; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.container {
  width: 75%;
  margin-inline: auto;
  max-width: 120rem;
}
@media screen and (width < 500px) {
  .container {
    width: 85%;
    max-width: 400px;
  }
}
/* header {
  width: 30%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.page-header {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  z-index: 1000;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  z-index: 2000;
  width: 2rem;
  height: 0.2rem;
}

.navigation-menu ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.navigation-menu ul li a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.navigation-menu ul li a:hover,
.navigation-menu ul li a.active {
  background-color: var(--color-accent);
  color: white;
  transform: translateY(-2px);
}

@media screen and (width < 500px) {
  .page-header .navigation-menu {
    display: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--color-accent);
}
h1 {
  font-weight: 400;
  font-size: 7rem;
  line-height: 1.1;
  margin: 0;
}
p {
  font-size: 1.8rem;
}
@media screen and (width < 500px) {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.6rem;
  }
}

a {
  font-family: var(--font-body);
  font-size: 1.6rem;
  line-height: 1.5;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 1rem;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.intro-text {
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 50ch;
  margin-top: 2em;
}

.job-titles {
  display: block;
}

/* <uniquifier>: Use a uniquifier for the class name
   <weight>: Use a value from 100 to 900 */
.noto-sans-classname {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.portfolio {
  margin-block: 2em;
  padding-block: 2em;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.card {
  width: 320px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card .card-img-container {
  width: 100%;
  height: 200px;
}

.card .card-img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1.6rem;
  color: #555;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2f80ed;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2569d1;
}

.card h3 {
  margin-block: 0 0.2em;
}

.card p {
  margin-block: 0 0.2em;
  font-size: 1.4rem;
}

.card .btn {
  padding: 6px 12px;
}

.card .links {
  display: flex;
  gap: 1rem;
  margin-top: 0.5em;
}

.card .links a {
  font-size: 1.4rem;
}

.card .stack {
  font-size: 90%;
  margin-bottom: 10px;
}

.card .stack span {
  font-size: 90%;
  display: inline-block;
  padding: .3em .5em;
  color: var(--color-primary);
  background-color: color-mix(in srgb, var(--color-accent) 60%, #ffffffaa 20%);
  border-radius: 8px;
}

footer {
  padding: 2em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2226;
  color: #fff;
}

footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.elevator-pitch {
  margin-top: 2em;
  padding: 1px;
  margin-bottom: 3em;
}

.stars img:first-child,
.stars img:nth-child(2),
.stars img:nth-child(3),
.stars img:nth-child(4) {
  position: absolute;
  z-index: 0;
}

.stars img:first-child {
  top: 100px;
  left: 100px;
}

.stars img:nth-child(2) {
  top: 90px;
  right: 150px;
  animation: twinkle 2s linear infinite;
  animation-fill-mode: forwards;
}
.stars img:nth-child(3) {
  bottom: 80px;
  left: 350px;
  animation: twinkle 2s linear 1s infinite;
  animation-fill-mode: forwards;
}
.stars img:nth-child(4) {
  bottom: 130px;
  right: 50px;
}

@media screen and (width < 500px) {
  .stars img:first-child {
    top: 100px;
    left: 10px;
  }

  .stars img:nth-child(2) {
    top: 190px;
    right: 80px;
    animation: twinkle 2s linear infinite;
    animation-fill-mode: forwards;
  }
  .stars img:nth-child(3) {
    bottom: 80px;
    left: 50px;
    animation: twinkle 2s linear 1s infinite;
    animation-fill-mode: forwards;
  }
  .stars img:nth-child(4) {
    bottom: 130px;
    right: 50px;
  }
}

@keyframes twinkle {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

.contact-info {
  margin: 4em 0;
}
.contact-items {
  display: flex;
  gap: 1em;
}

@media screen and (width < 500px) {
  .contact-items {
    flex-direction: column;
  }
}

.contact-items a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.contact-link:hover {
  background-color: #3335;
  color: #fff;
}

.img-ctn img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
